*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
  font-family: "Lora", sans-serif;
}

.heading-primary {
  color: #333030;
  font-size: 2.5rem;
  font-weight: 600;
  margin: 0;
}

.heading-primary > a {
  color: #333030;
}

.heading-primary > a:hover {
  text-decoration: none;
}

.heading-secondary {
    color: #333030;
    font-size: 1.5rem;
    font-weight: 600;
    margin: 0;
}

.heading-secondary > span {
    color: #7e7e7e;
    font-size: 0.85rem;
}

.section-box {
  margin: 3rem 0;
}

p {
  color: #3e4149;
}

/* Buttons */

.btn {
  font-size: 1.3rem;
}

.btn > i {
  font-size: 0.8rem;
}

.btn-custom-primary {
  color: #333030;
}

.btn-custom-success {
  color: #a5d296;
}

.btn-custom-warning {
  color: #fdc23e;
}

.btn-custom-danger {
  color: #ec6a5c;
}

.btn-custom-size-sm {
    font-size: 0.85rem;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 3rem;
}

.form-div {
  width: 60%;
}

.blog_post-author {
  color: #7f9eb2;
  font-size: 0.85rem;
}

.blog_post-excerpt {
  font-size: 1.2rem;
}

.blog-posts {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 2rem 0;
}

.blog-post_user {
  color: #7e7e7e;
}

.blog-post_date {
  font-size: 0.8rem;
}

.blog-post > p {
  font-size: 1.2rem;
}

.blog-prompt {
    font-size: 1.4rem;
    font-weight: 600;
}

.comment-box {
    margin: 2rem 0;
}

.comment-box > p {
    margin-top: 1rem;
    margin-bottom: 0;
    font-size: 1.3rem;
}