{% extends 'base/base.html' %} {% block content %}
<section class="section-box">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>Add new blog</h1>
        <form method="POST" action="">
          {% csrf_token %} 
          {{ form.as_p }}
          <button class="btn btn-primary"><i class="fas fa-save"></i> Save Post</button>
        </form>
      </div>
    </div>
  </div>
</section>

<script>
  let name = "{{ user.id }}";
  document.querySelector("#user").value = name;
</script>

{% endblock %}
