{% extends 'base/base.html' %} {% block content %}
{% if user.is_authenticated %}
<section class="section-box">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-right">
          <a class="btn btn-custom-primary btn-blogs_add" href="{% url 'blog:createblog' %}">Add new blog <i class="fas fa-plus"></i></a>
      </div>
    </div>
  </div>
</section>
{% endif %}

<section class="section-box">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        {% for blog in blogs %}
        <div class="blog-posts">
          <div class="col-md-3 py-2">
            {{ blog.datecreated }}
          </div>
          <div class="col-md-9">
            <div class="blog_post">
              <h1 class="heading-primary">
                <a href="{% url 'blog:getblog' blog.pk %}">
                  {{ blog.title }}
                </a>
              </h1>
              <p class="blog_post-author">Author: {{ blog.user }}</p>
              <p class="blog_post-excerpt">{{ blog.text|truncatewords:10 }}</p>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>

{% endblock %}
