{% extends 'base/base.html' %} {% block content %}

<section class="section-box">
  <div class="container">
    <div class="row">
        <div class="col-md-12 text-right">
           {% if user.is_authenticated and user.id == blog.user.id %}
                <a class="btn btn-custom-success" href="{% url 'blog:editblog' blog.pk %}"><i class="fas fa-pencil-alt"></i> Edit</a>
                <a class="btn btn-custom-danger" href="{% url 'blog:deleteblog' blog.pk %}"><i class="fas fa-trash-alt"></i> Delete</a>
           {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="blog-post">
                <h1>
                    {{ blog.title }}
                    <span class="blog-post_date">{{ blog.datecreated }}</span>
                </h1>
                <p>
                    {{ blog.text|linebreaks }}
                </p>
            </div>
        </div>
    </div>
  </div>
</div>

<section class="section-box">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <form method="POST">
            <span>Comment as: {{ user.username }}</span>
            {% csrf_token %}
            <div class="form-group">
                {{ comment_form.comment }}
            </div>
            <div class="form-group">
                {{ comment_form.blog }}
            </div>
            <div class="form-group">
                {{ comment_form.user }}
            </div>
              <button class="btn btn-primary mt-3"{% if not user.is_authenticated %} disabled {% endif %}>Add Comment</button>
          </form>
          
        </div>
      </div>
    </div>
</section>

<section class="section-box">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
            <h2 class="heading-secondary">
                Comments:
            </h2>
            {% for comment in comments %}
                <div class="comment-box">
                    <h2 class="heading-secondary">
                        {% if comment.user.first_name or comment.user.last_name %}
                            {{ comment.user.first_name }} {{ comment.user.last_name }}
                        {% else %}
                            {{ comment.user.username }}
                        {% endif %}
                        <span class="blog-post_date">{{ comment.datetime }}</span>
                    </h2>
                    <p>
                        {{ comment.comment }}
                    </p>
                    {% if comment.user_id == user.id %}
                    <a class="btn btn-custom-danger p-0 btn-custom-size-sm" href="{% url 'blog:deletecomment' comment.id %}">
                        <i class="fas fa-trash-alt"></i> Delete
                    </a>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
      </div>
    </div>
</section>


<script>
    let user = "{{ user.id }}",
        blog = "{{ blog.id }}";

    document.querySelector('#comment_user_id').value = user;
    document.querySelector('#comment_blog_id').value = blog;

</script>

{% endblock %}
