{% extends 'base/base.html' %} {% block content %}

<section class="section-box">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="form-container text-center">
          <form method='POST'>
            {% csrf_token %}
            <p class="blog-prompt">
                Are you sure you want to delete post?
            </p> 
            <input type="submit" class="btn btn-custom-danger" value="Yes">
            <a href="{% url 'blog:getblog' blog.pk %}" class="btn btn-custom-primary">No</a>
        </form>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}
