{% extends 'base/base.html' %} {% block content %}

<section class="section-box">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="d-flex flex-column">
          <h1 class="heading-primary">Change Password</h1>
          <p>Username: {{ user.username }}</p>
          <form method="POST">
            {% csrf_token %}
            <div class="form-group">
              <input
                type="password"
                class="form-control"
                placeholder="Old Password"
                name="old_password"
                required="true"
              />
            </div>
            <div class="form-group">
              <input
                type="password"
                class="form-control"
                placeholder="New Password"
                name="new_password1"
                required="true"
              />
            </div>
            <div class="form-group">
              <input
                type="password"
                class="form-control"
                placeholder="Confirm Password"
                name="new_password2"
                required="true"
              />
            </div>

            {% for field in form %} {% for error in field.errors %}
            <p style="color: red">{{ error }}</p>
            {% endfor %} {% endfor %}

            <button type="submit" class="btn btn-success btn-custom-size-sm">
              <i class="fas fa-save"></i> Update Password
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}
