{% extends 'base/base.html' %} {% block content %}

<section class="section-box">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
          <h3 class="text-center">Your Password has been updated</h3>
      </div>
    </div>
  </div>
</section>

{% endblock %}
