{% extends 'base/base.html' %} {% block content %}

<section class="section-box">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="d-flex flex-column">
          {% for message in messages %}
            <div class="alert alert-success mb-3" role="alert">
              {{ message }}
            </div>
          {% endfor %}
          <h1 class="heading-primary">Update User Profile</h1>
          <p>Username: {{ user.username }}</p>
          <form method="POST">
            {% csrf_token %}
            {{ user_form.as_p }}
            {{ profile_form.as_p }}
            <input type="submit" class="btn btn-primary" value="Update">
          </form>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}
