<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container">
    <div class="row w-100">
      <div class="col-md-3">
        <a class="navbar-brand" href="{% url 'blog:getblogs' %}">Django Blog</a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarColor01"
          aria-controls="navbarColor01"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
      <div class="col-md-9">
        <div class="collapse navbar-collapse" id="navbarColor01">
          <ul class="navbar-nav ml-auto">
            {% if user.is_authenticated %}
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                data-toggle="dropdown"
                href="#"
                role="button"
                aria-haspopup="true"
                aria-expanded="false"
                >{{ user.username|title }}</a
              >
              <div class="dropdown-menu">
                <a class="dropdown-item" href="{% url 'account:getuser' %}"
                  >User Profile</a
                >
                <a
                  class="dropdown-item"
                  href="{% url 'account:change_password' %}"
                  >Change Password</a
                >
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'base:userlogout' %}"
                >Sign out</a
              >
            </li>
            {% else %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'base:userlogin' %}">Log In</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'base:userregister' %}"
                >Register</a
              >
            </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </div>
  </div>
</nav>
