{% extends 'base/base.html' %} {% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="form-container">
        <div class="form-div">
          <h1>Sign Up</h1>
          <form method="POST" action="">
            {% csrf_token %}
            <div class="form-group">
              <label for="first_name">First Name</label>
              <input
                type="text"
                class="form-control"
                id="first_name"
                name="first_name"
                placeholder="First Name"
              />
            </div>
            <div class="form-group">
              <label for="last_name">Last Name</label>
              <input
                type="text"
                class="form-control"
                id="last_name"
                name="last_name"
                placeholder="Last Name"
              />
            </div>
            <div class="form-group">
              <label for="username">Username</label>
              <input
                type="text"
                class="form-control"
                id="username"
                name="username"
                placeholder="Enter desired username"
              />
            </div>
            <div class="form-group">
              <label for="email">Email Address</label>
              <input
                type="email"
                class="form-control"
                id="email"
                name="email"
                placeholder="Email Address"
              />
            </div>
            <div class="form-group">
              <label for="password1">Password</label>
              <input
                type="password"
                class="form-control"
                id="password1"
                name="password1"
                placeholder="Password"
              />
            </div>
            <div class="form-group">
              <label for="password2">Confirm Password</label>
              <input
                type="password"
                class="form-control"
                id="password2"
                name="password2"
                placeholder="Confirm Password"
              />
            </div>
            <input class="btn btn-primary" type="submit" value="Create User" />
          </form>
          {{form.errors}}
        </div>
        <div class="mt-3">
          Already have an account?
          <a href="{% url 'base:userlogin' %}">Login</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
