{% extends 'base/base.html' %} {% block content %}

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="form-container">
        <div class="form-div">
          <h1>Sign In</h1>
          <form method="POST" action="">
            {% csrf_token %}
            <div class="form-group">
              <label for="username">Username</label>
              <input
                type="text"
                class="form-control"
                id="username"
                name="username"
                placeholder="Enter Username"
              />
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input
                type="password"
                class="form-control"
                id="password"
                name="password"
                placeholder="Password"
              />
            </div>
            <input type="submit" class="btn btn-primary" value="Log in" />
          </form>
          {% for message in messages %}
          <p>{{message}}</p>
          {% endfor %}
          <div class="mt-3">
            Don't have an account?
            <a href="{% url 'base:userregister' %}">Register</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
